<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Wikipedia Complex to Simple - {{ title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  </head>
  <body>
    <div class="wrapper">
        <header>
            <form method="POST">
                <input class="search-bar" name="search_text" autofocus>
                <button  class="search-button" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </header>



        <main>
            {% if result_list %}
                <ul class=entries>
                    {%for i in range(0, len)%}
                        <li><a href="{{url_for('result', query=result_list[i])}}">{{result_list[i]}}</a></li>
                    {%endfor%}
                </ul>
            {% endif %}
        </main>


        {% block results %} {% endblock %}
    </div>

  <script src="{{url_for('static', filename='app.js')}}"></script>
  </body>
</html>